/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/* header or Nav */
* {
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Mono', monospace;
}

nav{
    border-radius: 5px;
    width: 80%;
    margin: 1% auto;  
     
    
}
nav button{
    border-radius: 10px;
    border: none;
    color: white;
    width: 10%;
}
.plan{
    margin: 0 10% 0 10%;
    background-color: #FF764E;

}
.about{
    margin: 0 10% 0 10%;
    background-color: #5ED3EB;
}
.involved{
    margin: 0 10% 0 10%;
    background-color: #FFCD69;
}
/* hero  or landing */
.hero{
    width: 80%;
    display: inline-block;
    margin: 0 10% 0 10%;
}

.hero div{
    /* margin: 0 5% 0 0%; */
    display: inline-block;
}

.hero img{
    /* width: 25%; */
    height: 35vh;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5% 0 10%;

}

.guide{
    width: 50%;
    display: inline-block;
    margin: 5% auto;
}

.hero h1{
    font-family: 'Chelsea Market', cursive;
    font-size: 3rem;
    text-align: center;
    padding: 3%;
}
.hero .guide p{
    text-align: center;
    padding: 2%;
    font-size: 1.5rem;
    
}
/* call to action*/
.call-to-action{
    margin: 0 auto 5% auto;
    width: 25%;
}
.valley-description{
    width: 95%;
    color: white;
    background-color: #DDB9A3;
    margin: 0 auto;
    text-align: center;
    padding-top: 1%;
     font-family: 'Roboto Mono', monospace;

}
.valley-description div{
    padding: 1%;
}
.call-to-action img{
    width: 40%;
    margin: 0 25%;
}

.call-to-action div p span{
    font-weight: bold;
}

.intro{
    width: 75%;
    margin: 0 auto;
}
/* footer */

footer{
    width: 100%;
    background-color: #F9E7DC;
    padding-bottom: 1.5%;
}
.footpic{
    background-image: url(assets/footer_img.jpg);
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: 25% 25%;
    height: 20vh;
}